/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

nav .container li a{
   display: none;
}
section.register {
    background-image: url(./asset/image/registernow.jpg);
    padding: 0;
    max-width: 100vw;
    margin-top: 5.2rem;
    /* opacity: 0.5; */
}
section.register h1 {
    color: var(--color-white);
    margin-top: 3rem;
    
}

section.register li {
    padding: 3rem;
    text-align: center;
    
}
section.register li a {
    color: var(--color-white);
    background: var(--color-primary);
    padding: 2rem;
    width: 100%;
    font-size: 2rem;
    text-decoration: none;
    transition: var(--transition);
}
section.register li a:hover {
    background: var(--color-white);
    color: var(--color-primary);
}

@media  screen and (max-width: 600px) {
    section.register {
        display: grid;
        grid-template-columns: 1fr;
    }
    section.register li a {
        font-size: 1rem;
        padding: 1rem;
   
    }

    nav .container li a{
        display: block;
        text-decoration: none;
        color: var(--color-primary);
        font-size: 1.5rem;
    }

}